html, body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: white;
}
.container{
  width: 600px;
  height: 565px;
  
  background: #f0f4f8;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.347); 
  text-align: center;
  margin: 50px auto;
  padding-top: 10px;
}
.header .text{
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}
.underline1 {
  width: 50px;
  height: 3px;
  border-radius: 5px;
  background: #009688;
  margin: 0 auto 20px;
}
.inputs {
  margin-bottom: 15px;
  align-items: center;
  flex-direction: column;
  height: 70%;
}
.input input{
  width: 50%;
  height: 30%;
  padding: 11px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
  background: white;
  outline: none;
  
}
.input input:focus{
  border-color: #009688;
}
.forgot-password {
  text-align: right;
  font-size: 14px;
  color: blue;
  cursor: pointer;
}
.submit-container{
    margin-top: 20px; 
    display: flex;
    justify-content: center;
    
}
.submit {
  background: #009688;
  color: white;
  padding: 11px;
  width: 50%;
  height: 30%;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
}
.submit:hover{
  background: #00796b;
}


.already-account {
  margin-top: 15px;
  font-size: 14px;
}
.already-account a{
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

#gender{
  position: relative;
  left: 12px;
  font-size: 11px;
}

.container1{
    width: 400px;
    height: 321px;
    background: #f0f4f8;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.347); 
    text-align: center;
    margin: 50px auto;
    padding-top: 10px;
  }
  .container {
    margin: auto;
    padding: 10px; 
}
.inputs {
    height: 30px;
    padding: 5px; 
    font-size: 14px; 

}
.gender-container select {
  font-size: 18px; 
  padding: 4px; 
  
  height: 25px; 
}
.gender-container {
  position: relative;
  bottom: 12px;
  right: 138px;
}

.inputs {
    position: relative;
    bottom: 7px;
}
.submit {
    position: relative;
    top: 3px;
}